<!DOCTYPE html>
<html>
<head>
  <title>Rainbow vital</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "rainbow_vital/application", media: "all" %>
</head>
<body>
<%= render 'layouts/rainbow_vital/shared/navbar' %>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
